# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('./Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

In [4]:
# Set the date column as the DataFrame index
df.set_index('date', inplace = True)

In [6]:
# Drop irrelevant columns
df = df.drop(["prcp", "station"],1)

### Compare June and December data across all years

In [7]:
from scipy import stats

In [8]:
# Filter data for desired months
jun_df = df.loc[df.index.month == 6]
dec_df = df.loc[df.index.month == 12]

In [9]:
jun_df

            tobs
date
2010-06-01    78
2010-06-02    76
2010-06-03    78
2010-06-04    76
2010-06-05    77
...          ...
2017-06-26    79
2017-06-27    74
2017-06-28    74
2017-06-29    76
2017-06-30    75

[1700 rows x 1 columns]

In [10]:
dec_df

            tobs
date
2010-12-01    76
2010-12-03    74
2010-12-04    74
2010-12-06    64
2010-12-07    64
...          ...
2016-12-27    71
2016-12-28    71
2016-12-29    69
2016-12-30    65
2016-12-31    65

[1517 rows x 1 columns]

In [11]:
# Identify the average temperature for June
print(f"Average temperature for June is %f" %jun_df.tobs.mean())

Average temperature for June is 74.944118

In [15]:
# Identify the average temperature for December
print(f"Average temperature for December is %f" %dec_df.tobs.mean())

Average temperature for December is 71.041529

In [13]:
# Create collections of temperature data
# if condition for ensuring not missing value in TOBS column
jun_temp = [temp for temp in jun_df.tobs if type(temp)== int ]
dec_temp = [temp for temp in dec_df.tobs if type(temp)== int ]

In [14]:
# Run paired t-test
stats.ttest_ind(jun_temp, dec_temp)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

## Analysis

The pvalue is close to zero, indicating that the difference between the means of temperature in June and the means of temperature in December is statistically significant.

We used unpaired or independent t-test because the two samples collected came from different calendar months: June and December.